body{
	background-image: url("../images/movie.png");
	background-size: 100%, 100%;
	font-family: font-family: 'Libre Franklin', sans-serif;
}

h1,
h2{
	color: #FFFFFF;
	text-align: center;

}


.panel-resizable{
	width: 844px;
	height: 400px;
	border:7px;
	background-color: white;
	margin-left: 182px;
}

#start